<!doctype html>
<html>
<head>
    <title>Digital Songbook</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="jquery.js"></script>
    <script src="angular.min.js"></script>
    <script src="client.js"></script>
</head>
<body>
<header>

</header>
<main>
<div class="container">

    <div class="jumbotron text-center">
        <h1>Digital Songbook</h1>

        <p>Login or Register with:</p>

        <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>

    </div>

</div>
</main>
<footer>

</footer>
</body>
</html>   