<!doctype html>
<html ng-app="DigitalSongbook">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Digital Songbook</title>
    <link rel="stylesheet" href="bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="stylesheet.css">
    <script src="jquery.js"></script>
    <script src="angular.min.js"></script>
    <script src="client.js"></script>
</head>
<body ng-controller="DigitalSongbookController">

<!--This is to guide first time users to the menu-->
<div ng-show="showStartHere" class="startHere"><p>Click here to begin --></p></div>

<!--Once a user clicks on the menu the "Start Here" is hidden. On second click the menu is hidden.-->
<header ng-click="showStartHere = false;showMenu=!showMenu">

    <!--Users's Twitter Picture-->
    <img src={{userTwitPic}}>

    <!--Displays User's twitter handle that was passed in through the template. -->
    <p id="twitHandle"><%= user.twitter.username %></p>

    <!--The Menu-->
    <div ng-show="showMenu" class="dsmenu">
        <div ng-click="gotoQueue()">Current Queue</div>
        <div ng-click="gotoSearchSong()">Search Songs</div>
        <div ng-click="gotoSavedSongs()">Saved Songs</div>
        <div ng-click="gotoSongHistory()">Song History</div>
        <div ng-click=""><a href="/logout">Sign Out</a></div>
    </div>

</header>

<main>
    <div class="container">

        <!--The Song Queue - Default screen. Hidden if user is the admin.-->
        <div ng-hide="hideWelcome || isAdmin" class="text-center">
            <h1>Current Queue</h1>
            <ul>
                <li ng-repeat="singer in queue">@{{singer.singer}}</li>
            </ul>
        </div>

        <!--Admin view of the Song Queue-->
        <div ng-show="showAdmin" class="text-center">
            <h1>Current Queue</h1>
            <ul>
                <li ng-repeat="singer in queue">@{{singer.singer}} - {{singer.song.artist}} - {{singer.song.title}}
                    <i class="fa fa-check-square-o" ng-click="markSung(singer)"></i>
                    <i class="fa fa-times" ng-click="removeSong(singer)"></i>
                </li>
            </ul>
        </div>

        <!--The Song Search-->
        <div ng-show="showSongSearch" class="text-center">
            <h1>Song Search</h1>

            <!--Choose to search by Song, Artist, or list all. -->
            <p id="songsearch">
                <span ng-click="showArtistSearch=false">Search by Song</span> |
                <span ng-click="showArtistSearch=true">Search by Artist</span> |
                <span ng-click="listAllSongs()">All</span>
            </p>

            <!--Artist Search - Hidden if searching by Title-->
            <div ng-hide="showArtistSearch">
                <form novalidate>
                    <input type="text" id="title" ng-model="songTitle" placeholder="Song Title">
                    <input type="submit" ng-click="getSongByTitle(songTitle)" value="Search">
                </form>
            </div>

            <!--Title Search - Hidden if searching by Artist-->
            <div ng-show="showArtistSearch">
                <form novalidate>
                    <input type="text" id="artist" ng-model="songArtist" placeholder="Artist Name">
                    <input type="submit" ng-click="getSongByArtist(songArtist)" value="Search">
                </form>
            </div>

            <!--Song Search Results-->
            <div class="songSearchResults">
                <ul>
                    <li ng-repeat="song in songs" ng-click="formShow=!formShow">{{song.title}} - {{song.artist}}
                        <form novalidate ng-show="formShow">
                            <input type="submit" ng-click="tweetRequest(song)" value="Request">
                            <input type="submit" ng-click="saveSong(song)" value="Save">
                        </form>
                    </li>
                </ul>
            </div>
        </div>

        <!--Song History-->
        <div ng-show="showSongHistory" class="text-center">
            <h1>Song History</h1>
            <ul>
                <li ng-repeat="song in history">{{song.song.title}} - {{song.song.artist}} - {{song.performedDate |
                    date:'longDate'}}
                </li>
            </ul>
        </div>

        <!--User's Saved Songs-->
        <div ng-show="showSavedSongs" class="text-center">
            <h1>Saved Songs</h1>
            <ul>
                <li ng-repeat="savedSong in savedSongs">{{savedSong.song.title}} - {{savedSong.song.artist}}
                    <form novalidate>
                        <input type="submit" ng-click="tweetRequest(savedSong.song)" value="Request">
                        <input type="submit" ng-click="removeSavedSong(savedSong)" value="Delete">
                    </form>
                </li>
            </ul>
        </div>
    </div>
</main>
<footer>
    <!--DJ's Twitter Name & Twitter Picture-->
    {{djinfo.twitter.username}}'s Karaoke
    <img src={{djTwitPic}}>
</footer>
</body>
</html>   